<%- model_class = User.new.class -%>

<h2>Analysis</h2>
<div class="widget-content" id="filter-widget">
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Visualisation<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="#">Visualisation 1</a></li>
			<li><a href="#">Visualisation 2</a></li>
			<li><a href="#">Visualisation 3</a></li>
			<li><a href="#">Visualisation 4</a></li>
			<li><a href="#">Visualisation 5</a></li>
		</ul>
	</div>

	<ul class="thumbnails">
	    <li class="span12">
	        <img src="http://placehold.it/960x600" />
	    </li>
	</ul>
</div>