<h2><i class="icon-tasks"></i>Tasks</h2>
<div class="widget-content">
	<%= content_tag "div", class: "task-distribution-chart", data: {url: project_template_url(project_template)} do %>
		<svg style="height: 500px"></svg>
	<% end %>
</div>