<% teams.each do |team| %>
<h3>
	<%= link_to team.name, convenor_project_team_path(team.unit, team) %>
	&mdash;
	<%= team.user.name %>
</h3>
<p><strong><%= team.team_memberships.count %> users</strong> are assigned to this team.</p>
<% end %>