<% tutorials.each do |tutorial| %>
<h3>
	<%= link_to tutorial.name, convenor_project_tutorial_path(tutorial.unit, tutorial) %>
	&mdash;
	<%= tutorial.user.name %>
</h3>
<p><strong><%= tutorial.unit_roles.count %> users</strong> are assigned to this tutorial.</p>
<% end %>