<% stylesheets 'convenor.css' %>

<% title @project_template.name %>

<% content_for :sidebar do %>
	<%= render :partial => 'layouts/admin_menu' %>
<% end %>

<div class="span9">
	<div class="row-fluid">
		<ul class="breadcrumb">
			<li>
				<%= link_to "Home", root_url %>
				<span class="divider">/</span>
			</li>
			<li class="active"><%= @project_template.name %></li>
		</ul>

		<div class="tabbable"> 
			<ul class="nav nav-pills">
				<li class="active"><a href="#students" data-toggle="tab">Students</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active widget" id="students">
					<%= render :partial => "student_list" %>
				</div>
			</div>
		</div>
    </div>
</div>