<li class="nav-header">Subjects You Convene</li>
<% projects.each do |project| %>
    <% if !local_assigns[:selected_project].nil? && project.id == selected_project.id %>
        <li class="active"><a href="<%= convenor_project_path(project) %>"><i class="icon-book"></i><%= project.name %></a></li>
    <% else %>  
        <li><a href="<%= convenor_project_path(project) %>"><i class="icon-book"></i><%= project.name %></a></li>
    <% end %>
<% end %>