<% javascript 'burndown.js' %>
<% stylesheets 'burndown.css' %>

<div class="subject-summary">
	<h3>
		<%= project.unit.name %>
	</h3>

	<% if project.in_progress? and !project.completed? %>
	<%= progress_badge(project.progress) %>
	<% else %>
	<%= status_badge(project.status) %>
	<% end %>

	<%= project_status_summary(project) %>

	<%= content_tag "div", class: "burndownchart", data: {url: project_burndown_url(project)} do %>
		<svg style="height: 300px"></svg>
	<% end %>
	<% if project.started? %>
		<%= will_complete_based_on_velocity(project) %>
		<%= projected_date_of_completion_vs_deadline(project) %>
	<% else %>

	<% end %>
	<%= guidance_based_on_velocity(project) %>
</div>