<% stylesheets 'convenor.css' %>

<% if staff_units.size < 3 %>
	
	<% staff_units.each_with_index do |unit, i| %>
		<div class="row-fluid">
			<div class="widget span12">
				<div class="widget-header">
					<h2><i class="icon-book"></i><%= unit.name %></h2>
				</div>
				<div class="widget-content">
					<%=
						render partial: 'staff_unit',
						locals: { unit: unit, user: user }
					%>
				</div>
			</div>
		</div>
	<% end %>

<% else %>
	<% staff_units.each_with_index do |unit, i| %>
		<% if i % 2 == 0 %>
		<div class="row-fluid">
		<% end %>
			<div class="widget span6">
				<div class="widget-header">
					<h2><i class="icon-book"></i><%= unit.name %></h2>
				</div>
				<div class="widget-content">
					<%=
						render partial: 'staff_unit',
						locals: { unit: unit, user: user }
					%>
				</div>
			</div>
		<% if i % 2 == 1 %>
		</div>
		<% end %>
	<% end %>
<% end %>