<% stylesheets 'convenor.css' %>

<% if staff_units.size < 3 %>
	<% staff_units.each_with_index do |unit, i| %>
		<div class="row-fluid">
			<%= render 'staff_unit_widget',
				unit: unit, user: user, roles: roles[unit.id],
				size: :large
			%>
		</div>
	<% end %>
<% else %>
	<% staff_units.each_with_index do |unit, i| %>
		<% if i % 2 == 0 %>
		<div class="row-fluid">
		<% end %>
			<%= render 'staff_unit_widget',
				unit: unit, user: user, roles: roles[unit.id],
				size: :small
			%>
		<% if i % 2 == 1 %>
		</div>
		<% end %>
	<% end %>
<% end %>