<% if student_projects.size < 3 %>
	<% student_projects.each_with_index do |project, i| %>
		<div class="row-fluid">
			<%= render 'student_project', :project => project, :grid_size => 12 %>
		</div>
	<% end %>
<% else %>
	<% student_projects.each_with_index do |project, i| %>
		<% if i % 2 == 0 %>
		<div class="row-fluid">
		<% end %>
			<%= render 'student_project', :project => project, :grid_size => 6 %>
		<% if i % 2 == 1 %>
		</div>
		<% end %>
	<% end %>
<% end %>