<% if student_projects.size < 3 %>
	<% student_projects.each_with_index do |project, i| %>
		<div class="row-fluid">
			<div class="widget project-overview span12">
				<div class="widget-header">
					<h2><i class="icon-book"></i><%= project.unit.name %></h2>
				</div>
				<div class="widget-content">
					<%=
						render partial: 'student_project',
						locals: { project: project }
					%>
				</div>
			</div>
		</div>
	<% end %>
<% else %>
	<% student_projects.each_with_index do |project, i| %>
		<% if i % 2 == 0 %>
		<div class="row-fluid">
		<% end %>
			<div class="widget project-overview span6">
				<div class="widget-header">
					<h2><i class="icon-book"></i><%= project.unit.name %></h2>
				</div>
				<div class="widget-content">
					<%=
						render partial: 'student_project',
						locals: { project: project }
					%>
				</div>
			</div>
		<% if i % 2 == 1 %>
		</div>
		<% end %>
	<% end %>
<% end %>