<h2><i class="icon-list"></i>Highlights</h2>
<div class="widget-content">
	<div class="activity-feed-entry">
		<div class="feed-entry-body">
			<h4>Overdue Tasks</h4>
			<ul>
				<li><a href="#">Task 8</a></li>
				<li><a href="#">Task 9</a></li>
				<li><a href="#">Task 10</a></li>
			</ul>
			<h4>Tasks due this week</h4>
			<ul>
				<li><a href="#">Task 11</a></li>
				<li><a href="#">Task 12</a></li>
			</ul>
		</div>
		<span class="feed-entry-time">
		8 hours ago
		</span>
	</div>
</div>