<div class="span<%= "#{grid_size}" %> widget">
	<h2><i class="icon-book"></i><%= tutor_project_template.name %> (Tutor)</h2>
	<div class="widget-content">
		<% tasks_awaiting_signoff = unmarked_project_tasks(tutor_project_template, @user) %>
		<% if tasks_awaiting_signoff.empty? %>
			<p>
				No tasks currently awaiting sign-off
			</p>
		<% else %>
			<p>
				You have <%= link_to "#{tasks_awaiting_signoff.size} tasks", tutor_project_path(tutor_project_template)%> awaiting sign-off
			</p>
		<% end %>

		<p class="project-link"><%= link_to "Go to Project", tutor_project_path(tutor_project_template), class: "btn" %></p>
	</div>
</div>