<% stylesheets 'convenor.css' %>

<% if tutor_projects.size < 3 %>
	
	<% tutor_projects.each_with_index do |tutor_unit, i| %>
		<div class="row-fluid">
			<div class="span12 widget">
				<h2><i class="icon-book"></i><%= tutor_unit.name %></h2>
				<div class="widget-content">
					<%=
						render partial: 'tutor_project',
						locals: { tutor_unit: tutor_unit }
					%>
				</div>
			</div>
		</div>
	<% end %>

<% else %>
	<% tutor_projects.each_with_index do |tutor_unit, i| %>
		<% if i % 2 == 0 %>
		<div class="row-fluid">
		<% end %>
			<div class="span6 widget">
				<h2><i class="icon-book"></i><%= tutor_unit.name %></h2>
				<div class="widget-content">
					<%=
						render partial: 'tutor_project',
						locals: { tutor_unit: tutor_unit }
					%>
				</div>
			</div>
		<% if i % 2 == 1 %>
		</div>
		<% end %>
	<% end %>
<% end %>