<% stylesheets 'convenor.css' %>

<% if tutor_project_templates.size < 3 %>
	
	<% tutor_project_templates.each_with_index do |tutor_project_template, i| %>
		<div class="row-fluid">
			<%= render 'tutor_project', :tutor_project_template => tutor_project_template, :grid_size => 12 %>
		</div>
	<% end %>

<% else %>
	<% tutor_project_templates.each_with_index do |tutor_project_template, i| %>
		<% if i % 2 == 0 %>
		<div class="row-fluid">
		<% end %>
			<%= render 'tutor_project', :tutor_project_template => tutor_project_template, :grid_size => 6 %>
		<% if i % 2 == 1 %>
		</div>
		<% end %>
	<% end %>
<% end %>