<div class="row">
	<div class="span9 widget">
		<h2>Activity</h2>
		<div class="widget-content">
			<div class="activity-feed-entry">
				<div class="feed-entry-body">
					<p>
						Prosciutto drumstick t-bone, venison pork loin chuck corned beef fatback salami rump. Shoulder drumstick ham pancetta sirloin.
					</p>
				</div>
			</div>
			<div class="activity-feed-entry">
				<div class="feed-entry-body">
					<p>
						Prosciutto drumstick t-bone, venison pork loin chuck corned beef fatback salami rump. Shoulder drumstick ham pancetta sirloin.
					</p>
				</div>
			</div>
			<div class="activity-feed-entry">
				<div class="feed-entry-body">
					<p>
						Prosciutto drumstick t-bone, venison pork loin chuck corned beef fatback salami rump. Shoulder drumstick ham pancetta sirloin.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>