<% stylesheets 'convenor.css' %>
<% javascript 'status_distribution.js' %>

<% content_for :page_banner do %>
  <h1>Convenor Dashboard</h1>  
  <p class="lead"><%= "#{@user.first_name} #{@user.last_name}" %></p>
  <hr />
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'layouts/admin_menu' %>
<% end %>

<div class="span9">
	<% if @project_templates.size < 3 %>
		<% @project_templates.each_with_index do |project_template, i| %>
		<div class="row-fluid">
			<%= render 'convenor_project/convenor_project', :project_template => project_template, :status_distribution => project_template.status_distribution, :grid_size => 12 %>
		</div>
		<% end %>
	<% else %>
		<% @project_templates.each_with_index do |project_template, i| %>
			<% if i % 2 == 0 %>
			<div class="row-fluid">
			<% end %>
				<%= render 'convenor_project/convenor_project', :project_template => project_template, :status_distribution => project_template.status_distribution, :grid_size => 6 %>
			<% if i % 2 == 1 %>
			</div>
			<% end %>
		<% end %>		
	<% end %>
</div>