<%= stylesheets 'convenor_contact_form.css' %>

<div class="widget span12">
	<div class="widget-content">
		<h1>Thank you</h1>
		<h3>Your message has been sent. We will handle your request as soon as possible.</h3>
		<%= link_to "Sign out", destroy_user_session_path, :method => 'delete', :class => "btn btn-primary", :id => "sign-out-button" %>
	</div>
</div>