<ul id="unit-role-details">
	<li><strong><%= student.tutorial.meeting_time %></strong> on <%= student.tutorial.meeting_day %></li>
	<li>In <strong><%= student.tutorial.meeting_location %></strong></li>
	<li>Taken by <strong><%= student.tutorial.unit_role.user.name %></strong></li>
</ul>