<% title "Edit Profile - #{@user.name} (#{@user.username})" %>

<%- model_class = @user.class -%>
<div class="span7 widget">
	<h2><i class="icon-cogs"></i><%= current_user == @user ? "Your Profile" : @user.name %></h2>
	<div class="widget-content">
		<%= render partial: 'form', locals: {
			user: @user,
			current_user_roles: @current_user_roles,
			user_role_options: @user_role_options
		} %>
	</div>
</div>