<div class="task-<%= task.id %>-status-control">

  <% status_buttons = [
    { status: :complete,          icon: "ok",         color: "success",         tip: "Complete" },
    { status: :fix_and_resubmit,  icon: "wrench",     color: "warning",         tip: "Fix and Resubmit" },
    { status: :fix_and_include,   icon: "book",       color: "fix-and-include", tip: "Fix and Include" },
    { status: :redo,              icon: "refresh",    color: "redo",            tip: "Redo" },
    { status: :not_submitted,     icon: "minus-sign", color: "default",         tip: "Not Submitted" },
  ] %>

  <% if task.awaiting_signoff %>
    <div class="status-buttons">
      <% status_buttons.each do |button| %>
        <%= link_to glyph(button[:icon]),
          assess_task_path(task, button[:status]),
          method: "put",
          remote: true,
          class: "btn btn-mini btn-" << button[:color],
          title: button[:tip],
          rel: "tooltip",
          "data-placement" => "top" %>
      <% end %>
    </div>
  <% else %>
    <div class="selected-status">
      <span class="label label-inverse"><%= task.task_status.name %></span>
    </div>
  <% end %>

</div>
