<div class="task-indicator-controls">
	<h3>Task Colours Indicate</h3>
	<div class="btn-group" data-toggle="buttons-radio">
		<button type="button" class="btn task-indicator-button indicate-action active">Actions</button>
		<button type="button" class="btn task-indicator-button indicate-progress">Progress</button>
	</div>
</div>