<% team.team_memberships.sort{|a,b| a.user.name <=> b.user.name }.each do |team_membership| %>
<div class="team-member-entry">
	<h4>
		<%= link_to truncate(team_membership.user.name, :length => 24, :separator => ' '), tutor_project_student_path(team_membership.project, team_membership.user) %>
	</h4>
	<p class="team-member-username">(<%= team_membership.user.username %>)</p>
	<%= render 'dashboard/tasks_progress_bar', :project => team_membership.project, :student => team_membership.user %>
</div>
<% end %>