var otherTeamName 		= "<%= "#{@other_team.meeting_day} #{@other_team.meeting_time} (#{@other_team.user.name})" %>";
var teamNameText = otherTeamName + '<span class="caret"></span>';

$("#other-team-header").text(otherTeamName);
$("#display-other-team-dropdown").html(teamNameText);
$(".other-team-selection-item").css("font-weight", "");
$("#display-team-<%= @other_team.id %>-students").css("font-weight", "bold");

var partial = "<%=j render :partial => 'tutor_projects/team_project_list', :locals => { :team => @other_team } %>";
$("#other-teams-entries .team-members").html(partial);

$(".task-progress-item").popover({
	trigger: 'manual',
	placement: 'top',
	html: true,
	template: '<div class="popover" onmouseover="$(this).mouseleave(function() {$(this).hide(); });"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
})
.click(function(e) {
	e.preventDefault();
	$(".popover").hide();
	$(this).popover('show');
});