development:
  adapter: postgresql
  database: doubtfire_dev
  username: itig
  password: d872$dh
  host: localhost
  min_messages: warning

replica:
  adapter: mysql2
  host: localhost
  database: www_gamification_db1
  username: www_gamification
  password: d872$dh

test:
  adapter: postgresql
  database: doubtfire_dev
  username: itig
  password: d872$dh
  host: localhost
  min_messages: warning

docker:
  adapter: postgresql
  database: doubtfire_dev
  username: itig
  password: d872$dh
  host: doubtfire-db
  min_messages: warning
