<% stylesheets 'convenor.css' %>

<% content_for :page_banner do %>
  <h1><%= @project_template.name %></h1>  
  <p class="lead">Project view</p>
  <hr />
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'layouts/admin_menu' %>
<% end %>

<div class="span9">
	<div class="row-fluid">
		<div class="tabbable"> 
			<ul class="nav nav-pills">
				<li class="active"><a href="#students" data-toggle="tab">Students</a></li>
				<li><a href="#analysis" data-toggle="tab">Analysis</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="students">
					<%= render "student_list" %>
				</div>
				<div class="tab-pane" id="analysis">
					<%= render "analysis" %>
				</div>
			</div>
		</div>
    </div>
</div>
