<div class="row-fluid">
	<%= 
		render 'convenor_units/status_distribution_chart',
		unit: project
	%>
	<%=
		render 'convenor_units/progress_bands',
		status_distribution: status_distribution
	%>
</div>

<div class="row-fluid">
	<%= link_to "Go to Project", convenor_unit_path(project), class:  "btn" %>
	<div class="project-admin-controls pull-right" style="font-size: 24px;">
	<%= content_tag "a", href: unit_url(project), class:  "link-icon" do %>
		<i class="icon-cog"></i>
	<% end %>
	</div>
</div>