<div class="widget">
    <div class="widget-header">
        <h2><i class="icon-tasks"></i>Tasks</h2>
    </div>
    <div class="widget-content">
        <%= render 'task_status_breakdown', unit: unit %>
    </div>
</div>