<div class="widget">
    <div class="widget-header">
        <h2><i class="icon-group"></i>Tutorials</h2>
    </div>
    <div class="widget-content">
        <%= render 'tutorial_list', tutorials: tutorials %>
    </div>
</div>