<% tutorials.each do |tutorial| %>
    <h4><%= tutorial.name %></h4>
    <div class="progress" style="max-width: 400px;">
    <% status_distribution = tutorial.status_distribution %>
    <% (Progress.types + [:not_started]).each do |progress| %>
        <% if status_distribution[progress] %>
        <%= content_tag :div, '',
            class: "bar progress-#{progress.to_s.dasherize} has-tooltip",
            title: [
                "<h5>", "#{progress.to_s.titleize} ",
                "(#{"%3.2f" % ((status_distribution[progress].to_f / status_distribution[:total].to_f) * 100)}%)",
                "</h5>",
                "<p>",
                    "#{status_distribution[progress]} out of #{status_distribution[:total]} ",
                    "students are <strong>#{progress.to_s.titleize}</strong>",
                "</p>"
            ].join,
            'data-html' => true,
            style: "width: #{(status_distribution[progress].to_f / status_distribution[:total].to_f) * 100}%"
        %>
        <% end %>
    <% end %>
    </div>
<% end %>