.widget-content
{
	color:#444;
	padding: 50px 50px 50px 50px;
}

.widget-content h1
{
	font-size:3.3em;
	margin-bottom:20px;
}

.widget-content h3
{
	font-size:1.8em;
	color:#888;
	margin-bottom: 5px;
}

.widget-content p
{
	color:#888;
}

#contact-form
{
	margin-top: 30px;
}

.well
{
	min-width: 200px !important;
}

input, select
{
	font: 11px/1.7em 'Open Sans', Helvetica;	
}

#sign-out-button
{
	margin-top:20px;
}