.subjectbox .span6
{
	padding-right: 20px;
}

.subjectbox h2
{
	vertical-align: middle;
}

.subjectbox .row
{
	padding-bottom: 20px;	
}

.subjectbox img
{
	float: left;
	vertical-align: middle;
	padding-right: 20px;
}

.subjectbox .row a
{
	text-decoration: none;
}

.subjectbox .badge a
{
	color: white;
}

.subjectbox .badge a:hover
{
	color: #D3D3D3;
	text-decoration: none;
}