.project-identity
{
	margin-top: 10px;
	overflow: auto;
}

.doom-image
{
	float: top left;
	margin-right: 10px;
	display:inline;
}

.progress-bands
{
	padding-top: 10px;
	overflow: auto;
	clear: left;
	margin-top: 20px;
}

.progress-band
{
	float: left;
	margin: 0 10px;
	text-align: center;
}

.progress-band .statistical-figure
{
	
	font-size: 1.9em;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.progress-band .progress-band-name
{
	font-size: 0.9em;
}

.progress-band
{
	margin-bottom: 20px;
}	

.badge a
{
	color: white;
}

.badge a:hover
{
	color: #D3D3D3;
	text-decoration: none;
}

.ahead 
{
	color: #48842c; // Twitter Bootstrap @green
}

.on-track 
{
	color: #049cdb; // Twitter Bootstrap @blue
}

.behind 
{
	color: #f89406; // Twitter Bootstrap @orange
}

.danger 
{
	color: #9d261d; // Twitter Bootstrap @red
}

.doomed 
{
	color: #000000;
}

.progress-band
{
	margin-top:25px;	
}

.progress-band strong
{
	color: #888;
}

.status-distribution-chart
{
	display:inline;
	margin-bottom: 10px;
	width: 90px !important;
	height: 90px !important;
}

.progress-bands
{
	display:inline;
}

.clear-float
{
	clear: both;
}