@import "twitter/bootstrap/bootstrap";

@gridGutterWidth: 15px;

body
{
	background-color: #EFEFEF;
}

.widget {
	border: 1px solid #CCCCCC;
	background-color: white;
	.border-radius(5px);
}

.widget h2
{
	font-size: 12pt;
	font-weight: normal;
	padding: 1% 3%;
	border-bottom: 1px solid #CCCCCC;
	color: #555555;
	#gradient > .vertical(#FFFFFF, #DDDDDD);
}

.widget-content
{
	padding: 3%;
	color: #888888;
	font-size: 10pt;
}

.activity-feed-entry
{
	border-bottom: 1px dotted #CCCCCC;
	padding-top: 10px;
}

.feed-entry-body
{
	width: 90%;
}