@import "twitter/bootstrap/bootstrap";

@gridGutterWidth: 15px;

body
{
	background-color: #EFEFEF;
}

.widget {
	border: 1px solid #CCCCCC;
	background-color: white;
	.border-radius(5px);
}

.widget h2
{
	font-size: 12pt;
	font-weight: normal;
	padding: 5px 0 5px 20px;
	border-bottom: 1px solid #CCCCCC;
	color: #555555;
	#gradient > .vertical(#FFFFFF, #DDDDDD);
}

.widget-content
{
	padding: 20px;
	color: #888888;
	font-size: 10pt;
}

.activity-feed-entry
{
	border-bottom: 1px dotted #CCCCCC;
	padding: 10px 0;
}

.feed-entry-body
{
	width: 79%;
	display: inline-block;
}

.feed-entry-time
{
	width: 20%;
	display: inline-block;
	color: #CCCCCC;
	text-align: right;
}

.subject-summary
{
	border-bottom: 1px dotted #CCCCCC;
	padding: 10px 0 10px 0;
}

.subject-summary h3
{
	display: inline;	
}

#progress-widget, #activity-stream-widget, #task-list-widget
{
	margin-top: -10px;	
}