@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

@gridGutterWidth: 15px;
@widgetCornerRadius: 5px;

body
{
	background: #E9E9E9 url(/assets/body-bg.png) repeat 0 0;
	font: 11px/1.7em 'Open Sans', Helvetica;
}

.widget
{
	border: 1px solid #CCCCCC;
	background-color: white;
	.border-radius(@widgetCornerRadius);
	margin-bottom: 20px;
}

.widget .widget-header
{
	height: 100%;
	overflow: hidden;
	padding: 5px 20px 5px 20px;
	border-bottom: 1px solid #CCCCCC;
	color: #555555;
	#gradient > .vertical(#FAFAFA, #E9E9E9);
	.border-radius(@widgetCornerRadius @widgetCornerRadius 0 0);
}

.widget .widget-header > h2
{
	float: left;
	font-size: 12pt;
	font-weight: 800;
}

.widget .widget-header > h2 > i
{
	margin-right: 10px;
}

.widget .widget-content
{
	padding: 20px;
	margin-top: -10px;
	color: #888888;
}

.widget .widget-controls
{
	margin-top: 5px;
}

.widget .widget-content .supplementary-text
{
	color: #AAAAAA;
}

.widget .widget-content p
{
	font-size: 1.2em;
}

.widget .widget-content li
{
	font-size: 1.2em;
}

.activity-feed-entry
{
	border-bottom: 1px dotted #CCCCCC;
	padding: 10px 0;
}

.feed-entry-body
{
	width: 79%;
	display: inline-block;
}

.feed-entry-time
{
	width: 20%;
	display: inline-block;
	color: #CCCCCC;
	text-align: right;
}

.subject-summary
{
	border-bottom: 1px dotted #CCCCCC;
	padding: 10px 0 10px 0;
}

.subject-summary h3
{
	display: inline;
}

.page-banner .lead
{
	margin-left: 10px;
}

.datepicker
{
	max-width:60px !important;
}

tr, td
{
	max-width:150px;
}

td .string, .text
{
	font: 11px/1.7em 'Open Sans', Helvetica;
	max-width:150px;
	max-height:200px;
}

td select
{
	font: 11px/1.7em 'Open Sans', Helvetica;
	max-width:150px;
	min-height:209px;
	max-height:209px;
	padding:0px;
}

.numeric
{
	max-width:50px;
}

.link-icon
{
	color: #555;
}

.link-icon:hover
{
	color: #333;
	text-decoration: none;
}

.widget-links
{
	margin-top: 20px;
}

// Fixes problem where dropdowns are clipped by overflow setting for tab-content
.tab-content {
	display: table; // prevent content from running below tabs
	width: 100%;
}

.popover-inner {
	overflow: visible !important; // prevent content dropdown content from being hidden
}