@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

.task-list
{
	margin-bottom: 20px;
}

.task-list-entry
{
	padding: 15px 0 5px 0;
	border-bottom: 1px dotted #CCC;
}

.task-list-entry > h4
{
	display: inline-block;
	width: 240px;
	float: left;
}

.task-list-entry > p
{
	display: inline-block;
	padding: 0px 0;
}

.sub-task-list
{
	+ .sub-task-list
	{
		margin-top: 20px;
	}

	.progress
	{
		margin-bottom: 7px;
		height: 10px;
	}

	.sub-task-list-entry
	{
		padding: 7px 0 7px 0;
		border-bottom: 1px dotted #CCC;

		.sub-task-checkbox {
			margin: 0px 10px 0px 0px;
		}

		.sub-task-name {
			margin: 0px 10px 0px 0px;
			text-decoration: none;
		}

		.sub-task-badge {
			margin: 0px 2px 0px 0px;
		}
	}
}

.task-status,
.task-weighting-points,
.task-submission-vs-time
{
	float: left;
}

.task-submission-vs-time
{
	width: 120px;
	margin-right: 10px;
}

.task-weighting-points
{
	width: 90px;
	margin-right: 10px;
}

.toggle-task-description-container
{
	float: right; clear: right; display: inline-block;
}

.task-status-controls
{
	margin-top: -5px;
	margin-right: 10px;
}

.status-display-button
{
	width: 160px;
	text-align: left;
}

.status-display-button i
{
	margin-top: 2px;
}

.task-description
{
	display: none;
	clear: left;
	margin-top: 10px;
}

.toggle-task-description
{
	margin-top: -3px;
	padding: 4px;
}

.button-icon
{
	display: block; float: right;
}

.btn-working-on-it,
.btn-working-on-it:hover,
.btn-need-help,
.btn-need-help:hover,
.btn-fix-and-include,
.btn-fix-and-include:hover,
.btn-redo,
.btn-redo:hover
{
	color: @white;
  	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

@btn-working-on-it-background: #FCEC21;
@btn-working-on-it-background-highlight: #E3E10E;
@btn-need-help-background: #F6A895;
@btn-need-help-background-highlight: #F38266;
@btn-fix-and-include-background: #FFD119;
@btn-fix-and-include-background-highlight: #E6BC16;
@btn-redo-background: #88533C;
@btn-redo-background-highlight: #B06C4E;

.btn-working-on-it
{
	.buttonBackground(
		@btn-working-on-it-background,
		@btn-working-on-it-background-highlight
	);
}

.btn-need-help
{
	.buttonBackground(
		@btn-need-help-background,
		@btn-need-help-background-highlight
	);
}

.btn-fix-and-include
{
	.buttonBackground(
		@btn-fix-and-include-background,
		@btn-fix-and-include-background-highlight
	);
}

.btn-redo
{
	.buttonBackground(
		@btn-redo-background,
		@btn-redo-background-highlight
	);
}

.btn-group.open .btn.btn-working-on-it.dropdown-toggle
{
	background-color: darken(@btn-working-on-it-background, 15%);
}

.btn-group.open .btn.btn-need-help.dropdown-toggle
{
	background-color: darken(@btn-need-help-background, 15%);
}

.btn-group.open .btn.btn-fix-and-include.dropdown-toggle
{
	background-color: darken(@btn-fix-and-include-background, 15%);
}

.btn-group.open .btn.btn-redo.dropdown-toggle
{
	background-color: darken(@btn-redo-background, 15%);
}
