@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

.team-entry
{
	border-bottom: 1px dotted #CCCCCC;
	padding: 10px 0 10px 0;
}

.team-member-entry
{
	margin: -5px 0;
}

.team-member-entry h4
{
	display: inline;
	float: left;
	width: 200px;
	margin-right: 10px;
	padding-top: 5px;
}

.team-member-entry p.health
{
	width: 60px;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 10px;	
	padding-top: 5px;
}

.tasks-progress-bar
{
	margin-bottom: 10px;
	overflow: hidden;
}

@taskProgressItemHeight: 25px;
@taskProgressItemWidth: 25px;
@taskProgressItemCornerRadius: 5px;

.task-progress-item
{
	display: block;
	float: left;
	
	width: @taskProgressItemWidth;
	height: @taskProgressItemHeight;
	margin: 0 2px;
	padding-top: 5px;
	text-align: center;

	color: white;

	border: 1px solid #CCCCCC;
	.border-radius(@taskProgressItemCornerRadius);
}

/***** TODO: No reason below can't be global *****/

.progress-ahead 	{ #gradient > .vertical(#62c462, #51a351); }
.progress-on-track 	{ #gradient > .vertical(#5bc0de, #2f96b4); }
.progress-behind 	{ #gradient > .vertical(#fbb450, #f89406); }
.progress-danger 	{ #gradient > .vertical(#ee5f5b, #bd362f); }
.progress-doomed 	{ #gradient > .vertical(#555555, #222222); }

.progress-ahead:hover,
.progress-on-track:hover,
.progress-behind:hover,
.progress-danger:hover,
.progress-doomed:hover
{
	color: #ffffff;
}

.progress-incomplete-task { #gradient > .vertical(#ffffff, #e6e6e6); color: #BBBBBB; }

.progress-incomplete-task:hover { color: #BBBBBB; }