@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

.tutorial-entry
{
	border-bottom: 1px dotted #CCCCCC;
	padding: 10px 0 10px 0;
}

.tutorial-member-entry
{
	margin: -5px 0;
	height: 100%;
	overflow: hidden;
}

.tutorial-member-entry h4
{
	display: inline;
	float: left;
	width: 220px;
	margin-right: 10px;
	padding-top: 5px;
}

.tutorial-member-entry p.health
{
	width: 60px;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 10px;	
	padding-top: 5px;
}

.tasks-progress-bar
{
	margin-bottom: 10px;
	overflow: hidden;
}

@taskProgressItemHeight: 25px;
@taskProgressItemWidth: 25px;
@taskProgressItemCornerRadius: 5px;

.task-progress-item
{
	display: block;
	float: left;
	
	width: @taskProgressItemWidth;
	height: @taskProgressItemHeight;
	margin: 0 2px;
	padding-top: 5px;
	text-align: center;

	color: white;

	border: 1px solid #CCCCCC;
	.border-radius(@taskProgressItemCornerRadius);
}

.tutorial-entry
{
	clear: left
}

#tutorial-list-options
{
	margin: 0;
}

#tutorial-list-options li
{
	float: left;
	list-style-type: none;
	margin-right: 10px;
}

.tutorial-member-username
{
	display: inline;
	float: left;
	margin: 5px 15px 0 0;
}

#display-other-tutorial-dropdown
{
	width: 260px;
	text-align: left;
}

#display-other-tutorial-dropdown span.caret
{
	display: inline-block;
	float: right;
}

.other-tutorial-selection-item
{
	width: 250px;
}

/***** TODO: No reason below can't be global *****/

.progress-ahead 	{ #gradient > .vertical(#62c462, #51a351); }
.progress-on-track 	{ #gradient > .vertical(#5bc0de, #2f96b4); }
.progress-behind 	{ #gradient > .vertical(#fbb450, #f89406); }
.progress-danger 	{ #gradient > .vertical(#ee5f5b, #bd362f); }
.progress-doomed 	{ #gradient > .vertical(#555555, #222222); }

.progress-ahead:hover,
.progress-on-track:hover,
.progress-behind:hover,
.progress-danger:hover,
.progress-doomed:hover
{
	color: #ffffff;
}

.action-complete 			{ #gradient > .vertical(#62c462, #51a351); color: #ffffff; }
.action-incomplete 			{ #gradient > .vertical(#ffffff, #e6e6e6); color: #BBBBBB; }
.action-awaiting-signoff 	{ #gradient > .vertical(#C8C8CA, #89888E); color: #ffffff; }
.action-working-on-it 		{ #gradient > .vertical(#FCFA43, #FBF80E); color: #BBBBBB; }
.action-need-help 			{ #gradient > .vertical(#F6A895, #F38266); color: #ffffff; }
.action-fix-and-resubmit 	{ #gradient > .vertical(#fbb450, #f89406); color: #ffffff; }
.action-fix-and-include 	{ #gradient > .vertical(#fbb450, #f89406); color: #ffffff; }
.action-redo 		{ #gradient > .vertical(#B06C4E, #88533C); color: #ffffff; }

.action-complete:hover 			{ color: #ffffff; }
.action-incomplete:hover 		{ color: #BBBBBB; }
.action-awaiting-signoff:hover 	{ color: #ffffff; }
.action-fix-and-resubmit:hover 		{ color: #ffffff; }
.action-fix-and-include:hover 		{ color: #ffffff; }
.action-working-on-it:hover 	{ color: #BBBBBB; }
.action-need-help:hover 		{ color: #ffffff; }
.action-redo:hover 	{ color: #ffffff; }

.task-indicator-controls
{
	margin-bottom: 20px;
}

@media (max-width: 480px) {
	.tasks-progress-bar
	{
		clear: left;
		margin-top: 10px;
	}
}