<ul id="team-membership-details">
	<li><strong><%= team_membership.team.meeting_time %></strong> on <%= team_membership.team.meeting_day %></li>
	<li>In <strong><%= team_membership.team.meeting_location %></strong></li>
	<li>Taken by <strong><%= team_membership.team.user.full_name %></strong></li>
</ul>