<ul id="unit-role-details">
	<li><strong><%= unit_role.team.meeting_time %></strong> on <%= unit_role.team.meeting_day %></li>
	<li>In <strong><%= unit_role.team.meeting_location %></strong></li>
	<li>Taken by <strong><%= unit_role.team.user.name %></strong></li>
</ul>