<div class="widget span9">
	<div class="widget-header">
		<h2><i class="icon-thumbs-up"></i>Awaiting Signoff</h2>
	</div>
	<div class="widget-content">
	<% if unmarked_tasks.empty? %>
		<p>Your marking backlog is currently empty. Great success!</p>
	<% else %>
		<% unmarked_tasks.each do |user, tasks| %>
			<h3><%= user.name %> (<%= user.username %>)</h3>
			<%= render partial: 'shared/assessment/backlog/backlog', locals: { actionable_tasks: tasks } %>
		<% end %>
	<% end %>
	</div>
</div>