<div class="span2">
	<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">Projects</li>
		<li class="active"><%= link_to 'All Projects', root_url %></li>
		<% project_templates.each do |project_template| %>
			<li><%= link_to project_template.name, project_template_path(project_template) %></li>
		<% end %>
	</ul>
	</div>
</div>