<ul class="nav nav-list">
  <li class="nav-header">
    Navigation
  </li>
  <li>
  	<%= link_to "Project Administration", superuser_project_administration_path %>
  </li>
  <li>
    <%= link_to "User Administration", superuser_user_administration_path %>
  </li>
</ul>