<h2>Tasks</h2>
<div class="widget-content" id="task-list-widget">
	<% tasks.each do |task| %>
	<div class="task-list-entry">
		<h3 style="display: inline">
			<%= task.task_template.name %>
			<%= badge_for_task task %>
		</h3>
		<div class="task-entry-body">
			<p><%= task.task_template.description %></p>
			<p><%= link_to "Submit", project_complete_path(task.project, task), :method => :put %></p>
		</div>
	</div>
	<% end %>
</div>