<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Enrollment Request, <%= @user.first_name %> <%= @user.last_name %> </h1>
    <p>
      I would like to request enrollment to unit : <%= @unit.name %>.<br>
    </p>
    <p>
      My student ID# is  <%= @user.student_id %>.
    </p>
    <p>Regards</p>
  </body>
</html>
